/* .CenterBlock{
    margin-inline: 20px;
} */
.step {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border: 1px solid lightgray;
    border-radius: 50%;
}
.textField{
    background-color: "#F5F5F5";
}
/* // information personnelle */
.colorTitle {
    color: #1695DC;
    margin-top: 10px;
} 
.form{
    display: flex;
    flex-direction: "column";
    justify-content: space-between;
    width: "100%";
    margin-top: "10px";
}
.userForm-footer{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* //seconde page */
/* //Step three */
.titleItem {
    color: #000;
    font-size: 24px;

}
.elemItem{
    color: #707070;
    font-size: 18px;
}
.Item{
    margin-bottom: 10px;
}
/* //style pour la gestion des erreurs */
.userForm-container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.errorSigne{
    color: #FF0000;
    font-size: 16px;
    align-self: center;
    justify-self: end;
}


